{% extends "base.html" %}
{% block load %}
	{% load static %}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}

{% block content %}

	<div class="container">
        <ul class="list_group">

            {% for product in product_list %}
                <li class="list-group-item border border-primary">
                    <a href="{% url 'product_detail' product.id %}">
                        <h3>{{ product.title }}</h3>

                    </a>
                    {% for image in image_list %}
                    	{% if image.product == product %}
                            <img src="{{ image.image.url }}" height="300" width="300">
                        {% endif %}
                    {% endfor %}
                    
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


